<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="desktop-mjhta09.QLSV.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-MJHTA09;integrated security=SSPI;initial catalog=QLSV" />
        <add name="QuanLyPhongMay.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=DESKTOP-MJHTA09;Initial Catalog=QLSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>